
<div class="container">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="forgotPassword" (ngSubmit)="forgotpassword()">
      <h3>Forgot Password</h3>
        <label for="username">Email</label>
        <input type="text" placeholder="Email or Phone" id="email" formControlName="userEmail" required>
        <button (click)="forgotpassword()">Change Password</button>
    </form>
          <app-preloader *ngIf="loadingHalt"></app-preloader>

    </div>