<div class="container">
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<!-- <form [formGroup]="loginForm" (ngSubmit)="logIn()"> -->
  <div class="form">    

    <h3>Login Here</h3>

    <label for="username">Email / Phone</label>
    <input type="text" placeholder="Email or Phone" id="username" [(ngModel)]='newEmailId' required>

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password"[(ngModel)]='newPassword' required>

    <button (click)="logIn()">Log In</button>
    <div class="flex">
    <div class="forgot-password" routerLink="/forgotpassword">
      <a>Forgot Password</a>
      </div>
      <div class="signup"routerLink="/signup">
        <a>Sign up</a>
      </div>
    </div>
    <div class="social">
      <div class="go" (click)="google()"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</div>
<app-preloader *ngIf="loadingHalt"></app-preloader>

<!-- </form> -->
</div>